.vs/
[Bb]in/
[Ob]j/
*.user
*.userosscache
*.sln.docstates

.idea/
*.sln.iml

appsettings.Development.json
/Properties/launchSettings.json

.env
*.pem
*.pfx
secrets.json

publish/
bin/
obj/

*.db
*.db-shm
*.db-wal

*.log
logs/

.DS_Store
Thumbs.db

node_modules/
dist/
.npm/